<!DOCTYPE html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	 <link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="/wp-includes/js/addInput.js" language="Javascript" type="text/javascript"></script>
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">


    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>


        <!-- LOCAL INFORMATION -->
		  <h3><span class="fa fa-user"></span> <%= user.local.email %></h3>

              
				
            <div class="row">

        <div class="col-sm-6">
		<div class="well">
                                  		
						<form action="/update" method="post">
						<table id="inputs"><tr>
						<td><label>btc share: </label><input type="text" name="btc_share" value=<%= user.local.btc_share %>></td>
						<td><label>btc value: </label><input type="text" name="btc_value" value=<%= user.local.btc_value %>></td>
						</tr>
						<tr>
						<td><label>eth share: </label><input type="text" name="eth_share" value=<%= user.local.eth_share %>></td>
						<td><label>eth value: </label><input type="text" name="eth_value" value=<%= user.local.eth_value %>></td>
						</tr>
						<tr>
						<td><label>ltc share:  </label><input type="text" name="ltc_share" value=<%= user.local.ltc_share %>></td>
						<td><label>ltc value:  </label><input type="text" name="ltc_value" value=<%= user.local.ltc_value %>></td><br></br>
						</tr>
						</table>
						<div id="edit">
						<input type="submit" class="btn btn-default"" value="Update"/>
						<a href="/unlink/local" class="btn btn-default">Unlink</a>
						</div>
						</form>
						</div>
						</div>
					
					
			
					
					
       <div class="col-sm-6">
	   <div class="well">
	   
		<table id="report">
          <thead>
            <tr>
              <th>Type</th>
              <th>Ticker Price</th>
              <th>+/-</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>BTC</td>
              <td><%= btc_price %></td>
              <td><%= btc_diff %></td>
            </tr>
            <tr>
              <td>ETH</td>
              <td><%= eth_price %></td>
              <td><%= eth_diff %></td>
            </tr>
            <tr>
              <td>LTC</td>
              <td><%= ltc_price %></td>
              <td><%= ltc_diff %></td>
            </tr>
			</tbody>
			</table>
			
			
			<table id="report">
			<td><p>Total = <%= total %></p></td>
			</table>
			
			</div>
			</div>
			
	 
	

</div>
</div>

</body>
</html>

<!-- <script>
	<input type="button" value="Add another text input" onClick="addInput('dynamicInput');">
var counter = 1;
var limit = 3;
function addInput(divName){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
          var newdiv = document.createElement('div');
          newdiv.innerHTML = "<br><strong>btc share</strong>: <input type='text' name='btc_share' value='<%= user.local.btc_share %>'/>" +"<strong>btc value</strong>: <input type='text' name='btc_value' value='<%= user.local.btc_value %>'/><br></br>";
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}

</script> -->
